@font-face {
  font-family: "NorseBold"; /* имя, которым будешь использовать шрифт */
  src: url("Norse-Bold.otf") format("woff2"); /* путь к файлу */
  font-weight: normal; /* или bold, если хочешь */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 70px;
  flex: 1;
}

.rightSide > h2 {
  display: flex;
  flex-wrap: wrap;
}

.divHeader {
  padding-left: 60px;
}

.leftSide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}
.leftSide .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("premium_photo-1686255006386-5f58b00ffe9d.avif") center/cover
    no-repeat;
  z-index: 0;
  opacity: 1;
}

.odin,
.leftSide > h2 {
  color: white;
  position: relative;
  z-index: 1;
}

.leftSide > h2 {
  padding-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
  padding: 50px;
  width: 100%;
  background-color: #fff;
  gap: 20px;
  padding-right: 150px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  /* flex-wrap: wrap; */
}

.row {
  display: flex;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

/* При фокусе */
input:focus {
  border: 1px solid #2563eb;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.3);
  outline: none;
}

/* Если неверно заполнено (но только после взаимодействия) */
input:focus:invalid,
input:not(:placeholder-shown):invalid {
  border: 1px solid #ef4444; /* красный */
}

/* Если корректно заполнено */
input:valid {
  border: 1px solid #22c55e; /* зелёный */
}

label {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 5px;
}

button {
  margin: 10px 80px;
  border-style: none;
  border-radius: 8px;
  padding: 15px 90px;
  color: #fff;
  background-color: #2563eb;
  transition: 300ms ease;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

button:hover {
  transform: scale(1.05);
  background-color: #0a3eb0;
}

p {
  margin-left: 50px;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}
